.container {
    height: 600px;
    width: 300px;
    background-color: #B7B7B7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container{
    height: 580px;
    width: 280px;
    background-color: #33455B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

svg {
    height: 80px;
    width: 80px;
}

circle {
    cx: 40px;
    cy: 40px;
    r: 30px;
    fill: white;
}
