.container {
    height: 600px;
    width: 300px;
    background-color: #B7B7B7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container{
    height: 580px;
    width: 280px;
    background-color: #33455B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

svg {
    height: 80px;
    width: 80px;
}

circle {
    cx: 40px;
    cy: 40px;
    r: 30px;
    fill: white;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    width: 300px;
}

.home img {
    width: 300px;
}

.home button {
    width: 100px;
    height: 30px;
    align-self: center;
    font-size: 15px;
    border-radius: 10px;
    background-color: white;
}

.home button:hover {
    background-color: #34465D;
    color: white;
}

.home h4 {
    align-self: center;
}
